.newProduct {
  flex: 4;
}
.addProductForm {
  margin-top: 10px;
}
.addProductitem {
  width: 250px;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.addProductitem > label {
  color: gray;
  font-weight: 600;
  margin-bottom: 10px;
}
.addProductitem > input {
  padding: 10px;
}
.addProductitem > select {
  padding: 10px;
}
.addproductIcon {
  background: darkblue;
  padding: 7px 33px;
  border-radius: 11px;
  color: white;
}
